---
import Container from "@components/container.astro";
import Link from "@components/ui/link.astro";
import Dropdown from "./dropdown.astro";
import { StickyHeader, Astronav, MenuItems, MenuIcon } from "astro-navbar";
import ThemeToggle from "@components/navbar/theme_toggle.astro";
import { Picture } from "astro:assets";
import Logo from "@assets/logo.astro";
// dynamic links for i18n
import { getRelativeLocaleUrl, getLocaleByPath } from "astro:i18n";
var currentLocale = Astro.currentLocale;

const menuitems = [
  {
    title: "Pages",
    path: "#",
    children: [
      { title: "Features", path: `/${currentLocale}/features` },
      { title: "Integrations", path: `/${currentLocale}/integrations` },
      {
        title: "Blog Details",
        path: `/${currentLocale}/blog//typography-example`,
      },
      { title: "404 Page", path: `/${currentLocale}/404` },
    ],
  },
  {
    title: "Pricing",
    path: `/${currentLocale}/pricing`,
  },
  {
    title: "About",
    path: `/${currentLocale}/about`,
  },
  {
    title: "Blog",
    path: `/${currentLocale}/blog`,
  },
  {
    title: "Contact",
    path: `/${currentLocale}/contact`,
  },
];

// defaultLocale is "es"
const loginURL = getRelativeLocaleUrl("en", "login");
const signupURL = getRelativeLocaleUrl("en", "signup");
---

<StickyHeader
  class="sticky lg:top-2 top-0 lg:rounded-full lg:mx-20 border-background-offset z-20 transition-all"
  scrollY={50}
  defaultClass="py-5 border-transparent"
  activeClass="py-2 dark:bg-black/80 bg-white/40 border-background-offset backdrop-blur-xl">
  <Container>
    <div
      class="flex flex-col lg:flex-row justify-between items-center relative z-10"
      transition:animate="none">
      <Astronav>
        <div class="flex w-full lg:w-auto items-center justify-between">
          <a
            href="/"
            class="text-lg flex items-center transition focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:outline-none focus-visible:shadow-outline-indigo rounded-full px-2 -ml-2">
            <Logo />
          </a>
          <div class="block lg:hidden">
            <MenuIcon class="w-4 h-4 text-primary" />
          </div>
        </div>
        <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
          <ul class="flex flex-col lg:flex-row lg:gap-3">
            {
              menuitems.map((item, index) => (
                <>
                  {item.children && (
                    <Dropdown
                      title={item.title}
                      children={item.children}
                      lastItem={index === menuitems.length - 1}
                    />
                  )}

                  {!item.children && (
                    <li>
                      <a
                        href={item.path}
                        class="flex lg:px-3 py-2 text-sm text-default hover:text-secondary focus-visible:ring-2 focus-visible:ring-offset-2 transition focus-visible:outline-none focus-visible:shadow-outline-indigo rounded-full">
                        {item.title}
                      </a>
                    </li>
                  )}
                </>
              ))
            }
          </ul>
          <div class="lg:hidden flex items-center mt-3 gap-4">
            <Link href="/login" style="muted" block size="sm">Log in</Link>
            <Link href="/signup" size="sm" block>Try for Free</Link>
          </div>
        </MenuItems>
      </Astronav>
      <div>
        <div class="hidden lg:flex items-center gap-4">
          <ThemeToggle />
          <a
            href={loginURL}
            class="text-sm px-2 py-1 transition focus-visible:ring-2 focus-visible:ring-offset-2 text-default focus-visible:outline-none focus-visible:shadow-outline-indigo rounded-full hover:text-secondary"
            >Log in</a
          >
          <Link
            href={signupURL}
            size="sm"
            class="inline-flex items-center group gap-px">
            <span>Try for Free</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              class="w-4 h-4 mt-px group-hover:translate-x-1 transition-transform">
              <path
                fill-rule="evenodd"
                d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                clip-rule="evenodd"></path>
            </svg>
          </Link>
        </div>
      </div>
    </div>
  </Container>
</StickyHeader>
